.custom-select-container {
	display: flex;
	min-width: 0px;
	text-align: center;
	position: relative;
	color: $white;
	align-items: center;

	.selected-text {
		background-color: $black;
		padding: 10px;
		padding-bottom: 11px;
		padding-right: 20px;
		border-bottom: 1px solid $gray;
		font-size: 18px;
		font-weight: 500;
		width: 100%;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	.selected-text::after {
		content: '';
		position: absolute;
		right: 10px;
		top: 16px;
		border: 7px solid transparent;
		margin-top: 5px;
		border-color: $gray2 transparent transparent transparent;
	}

	.selected-text.active::after {
		top: 8px;
		border-color: transparent transparent $gray2 transparent;
	}

	.middle-text {
		margin: 0 10px;
	}

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.select-options {
		position: absolute;
		width: 100%;
	}

	li {
		list-style-type: none;
		padding: 6px 20px;
		background: $black;
		border-bottom: 1px solid $gray;
		cursor: pointer;
	}

	li:hover {
		background-color: $dark-gray;
		color: $white;
	}
}
