.auth-page-root {
	background-color: white;
}
.right-img {
	position: fixed;
	right: 10px;
	bottom: 0px;
}
.left-img {
	position: fixed;
	bottom: 0px;
	left: 10px;
}
@media (max-width: 1300px) {
	.left-img {
		max-width: 60%;
		min-width: 0;
		object-fit: cover;
	}
	.right-img{
		max-width: 50%;
		min-width: 0;
		object-fit: cover;
		max-height: 50%;
		min-height: 0;
	}
}

@media (max-width: 700px) {
	.left-img {
		display: none;
	}
	.right-img{
		display: none;
	}
}