.cardinfo-page-card {
	@include card;
	@include flex-center;
	padding: 10px 40px;
	position: relative;
	width: 100%;
	max-width: 417px;
	min-width: 310px;
	margin-left: 5px;
	margin-right: 5px;

	label {
		font-weight: 700 !important ;
		font-size: 12px;
		color: #001327 !important	;
	}

	input {
		height: 35px !important;
	}

	.forgot-password-fontsize {
		font-size: 12px;
		color: $dim-black;
	}

	.sub-heading {
		font-size: 18px;
		font-weight: 800;
	}

	.input-section {
		margin-bottom: 5px;
	}

	@include disable-input-type-number-arrows;

	.card-info-sub-heading {
		font-size: 16px;
		font-weight: 800;
	}

	button {
		width: 40%;
	}
}
.specific-font-color {
	color: #001327 !important;
}
.info-detail {
	font-weight: 700 !important;
	font-size: 10px !important;
	color: #001327 !important;
}
.cvcicon {
	margin-bottom: 2px !important;
}
