@mixin disable-input-type-number-arrows {
	/* Chrome, Safari, Edge, Opera */
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

@mixin card {
	background: #ffffff;
	box-shadow: 0px 21px 28px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 20px 40px;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

//design input with blackground black
@mixin input {
	background-color: $black;
	border-radius: 4px;
	padding: 10px 15px;
	color: $white;
	font-size: 15px;
	font-weight: 500;
	border: none;
	&:focus {
		outline: none;
	}
}

//button
@mixin button {
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	background: linear-gradient(90deg, rgba(176, 83, 216, 0.88) 0%, #6a6eec 100%);
	box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
	border-radius: 2px;
	border-radius: 4px;
	padding: 10px 15px;
	color: $white;
	cursor: pointer;
	border: none;
	width: 100%;
	&:focus {
		outline: none;
	}
}
