.phone-input-section {
	.container-class {
		border-radius: 3px;
	}

	.button-class {
		background: #ffffff;
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		color: #6e7a7a;
		line-height: 20px;
		border: 0;
		padding: 0px 12.5px;
	}

	.button-class-disabled {
		box-shadow: none !important;
		background-color: #f3f6f9 !important;
		cursor: default !important;
		pointer-events: none;
	}

	.input-class {
		margin-left: 75px;
		padding-left: 20px;
		width: -webkit-fill-available;
	}
}
